<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <filter>
        <filter-name>indexDispatcherFilter</filter-name>
        <filter-class>myapp.IndexDispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>indexDispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>
